# LaTeX compilation files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.xdy
*.nav
*.snm
*.vrb
*.figlist
*.makefile
*.figlist
*.makefile
*.thm
*.run.xml
*.bcf
*.acn
*.acr
*.alg
*.glsdefs
*.ist
*.maf
*.mtc
*.mtc0
*.pyg
*.slg
*.syg
*.syi
*.listing
*.pdf
